@charset "UTF-8";

/*
GENERAL STYLING
================================================ */
html {
    font-size: 100%;
}
body {
	color: #555;
	font-family: sans-serif;
}

/*
COMMON
================================================ */
p {
    line-height: 1.7;
    font-size: 1.125rem;
}

section {
    height : 100vh;
    background-repeat: no-repeat; /*바둑판 형식으로 반복하지 않는다.*/
    background-size: cover;
    background-position: center; /*해당 기준으로 축소된다*/
}

.title {
    font-family: "Whisper", cursive;
    font-size: 7rem;
    margin-bottom: 2rem;
}

/*
HERO
================================================ */
.hero {
    background-image: url(../images/bread1.jpg);
    text-align: center;
    padding-top: 10vh; /*vh는 여러 기기에서 상대적으로 사이즈를 조절해준다*/
}

/*
MENU
================================================ */
.menu {
    background-image: url(../images/bread2.jpg);
    display: flex;
    align-items: center;
}

.wrapper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.menu-list tr {
    font-size: 1.125rem;
    margin-bottom: .5rem;
    line-height: 1.7;
}
.menu-list th {
    font-weight: normal;
}
.menu-list td {
    padding-left: 1rem;
}

/*
CONTACT
================================================ */
.contact {
    background-image: url(../images/cafe.jpg);
    text-align: center;
    padding-top: 8vh;
}


.btn {
    background: #555;
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 3.5rem;
    border-radius: 6px;
    display: inline-block;
    margin: 2rem 0 2.25rem;
}
.btn:hover {
    background: #777;
}
.contact-sns {
    display: flex;
    justify-content: center;
}
.contact-sns a {
    background: #fff;
    width: 3.75rem;
    height: 3.75rem;
    display: inline-block;
    margin: 0 .5rem;
    border-radius: 50%;
    font-size: 2rem;
    padding: .75rem 0 0 .125rem;
    color: #555;
}
.contact-sns a:hover {
    background: rgba(255,255,255,.5);
}

/*
MOBILE SIZE
================================================ */

