body {
    padding: 4rem;
    font-family: sans-serif;
}

h1 {
    background: #0bd;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    width: 500px;
    color: #fff;
    /*-webkit-clip 은 옛날에 쓰이던거라고 함*/
    -webkit-clip-path: polygon(0 0, 470px 0, 100% 50%, 470px 100%, 0 100%);
    clip-path: polygon(0 0, 470px 0, 100% 50%, 470px 100%, 0 100%);
}