/* background */
.brown-bg {
    background: #f8f6f2;
}

.content {
    padding: 4rem 1rem;
}

.home-text {
    margin-bottom: 2rem;
}

.home-chart {
    margin-left: 2vw;
}

.flex-reverse .home-chart {
    margin: 0 2vw 0 0;
}

.home-chart img {
    width: 100%;
}

.home-chart p {
    text-align: center;
}

/* 그래프 글씨 */
.ct-label {
    font-size: 1rem;
    fill: #fff;
}

/* 원 그래프 */
.ct-series-a .ct-slice-pie {
    fill: #2d3374;
}

.ct-series-b .ct-slice-pie {
    fill: #3a7edf;
}

.ct-series-c .ct-slice-pie {
    fill: #9bcbf8;
}

.ct-series-d .ct-slice-pie {
    fill: #bbb;
}

/*막대 그래프 */
.ct-series-a .ct-bar {
    stroke: #3a7edf;
}

.ct-bar {
    stroke-width: 12%; /*16*/
}


/* DESKTOP SIZE */
@media (min-width: 600px) {
    /* 차트와 내용의 정렬 Contents */
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 1rem;
    }

    .home-text {
        width: 50vw;
        margin-bottom: 0;
    }
    .home-chart {
        width: 34vw;
    }

    /* 차트와 내용의 위치를 반대로 바꾼다.*/
    .flex-reverse {
        flex-direction: row-reverse;
    }
}